{% extends "admin/base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1>Modifier le départment</h1>
		</div>
		<div class="row">
			{{ form_start(form) }}
            {{ form_row(form.name) }}
			<button>Modifier</button>
			{{ form_end(form) }}
		</div>
	</div>


{% endblock %}
